<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="animalMapper">
  	<select id="list" resultType="AnimalDTO">
  		select * from animal
  	</select>
<!-- 
  	insert
  	<insert id="insert" parameterType="AnimalDTO">
  		insert into animal values(ani_seq.nextval, #{num}, #{id}, #{kind}, #{getDate}, 
  		#{location}, #{name}, #{age}, #{gender}, #{title}, #{contents}, #{fname}, #{oname})
  	</insert>
  	
  	delete 
  	<delete id="delete" parameterType="java.lang.Integer">
  		delete animal where num=#{num} 
  	</delete>
  	
  	select
  	<select id="select" parameterType="java.lang.Integer" resultType="AnimalDTO">
  		select * from animal where num=#{num}
  	</select>
 -->  	
  	<!-- list -->
  </mapper>